.profileBtn {
    margin: 0 35px 0 10px !important;

    @media screen and (max-width: 1024px) {
        margin: 0 25px 0 10px !important;
    }

    @media screen and (max-width: 600px) {
        margin: 0 15px 0 10px !important;
    }
}

//.feature-topbar {
//  position: sticky;
//  top: 0;
//  z-index: 15;
//  background: linear-gradient(90deg, #001138 0%, #001e66 100%);
//
//  .text-linear-gradient {
//    background: linear-gradient(90deg, #ffffff 0%, #3772ff 100%);
//    -webkit-background-clip: text;
//    -webkit-text-fill-color: transparent;
//    background-clip: text;
//  }
//
//  .border-blue {
//    border-radius: 9px;
//    border: 1px solid rgb(236, 240, 242, 0.5);
//  }
//
//  .purple-btn {
//    background-color: #8d70f8;
//    border-radius: 9px;
//
//    &:hover {
//      background-color: #714bff;
//    }
//  }
//
//  .green-btn {
//    background-color: #b3f143;
//    border-radius: 9px;
//
//    &:hover {
//      background-color: #90de03;
//    }
//  }
//}

/* default (LTR) */
.top-header {
    position: sticky !important;
    z-index: 999 !important;
    width: auto !important;
}

///* only when RTL */
//html[dir="rtl"] .top-header,
//body[dir="rtl"] .top-header {
//  position: sticky !important;
//  z-index: 999 !important;
//  width: 100% !important;
//}

//.topbar-links {
//    .v-btn {
//        &:hover {
//            background-color: rgba(var(--v-theme-primary));
//        }
//    }
//}
//
//.topbar-links {
//    a {
//        text-decoration: none;
//        color: rgba(var(--v-theme-surface));
//
//        &:hover {
//            color: rgba(var(--v-theme-primary)) !important;
//        }
//    }
//}
